#### Import relevant libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#### Load dataset

In [2]:
penguins_data = pd.read_csv("data/penguins_size.csv")

#### Subset for relevant columns

In [3]:
penguins_data = penguins_data[['species','culmen_length_mm','sex']]

#### Inspect first 5 rows and data types of the dataset

In [4]:
penguins_data.head()

  species  culmen_length_mm     sex
0  Adelie              39.1    MALE
1  Adelie              39.5  FEMALE
2  Adelie              40.3  FEMALE
3  Adelie               NaN     NaN
4  Adelie              36.7  FEMALE

In [5]:
penguins_data.shape

(344, 3)

In [6]:
penguins_data.dtypes

species              object
culmen_length_mm    float64
sex                  object
dtype: object

#### Create a Crosstab in Pandas

In [7]:
pd.crosstab(index= penguins_data['species'], columns= penguins_data['sex'])

sex        FEMALE  MALE
species
Adelie         73    73
Chinstrap      34    34
Gentoo         58    62